body {
    background-color: rgb(196, 232, 221);
    border-color: black;


}

h1 {
    text-shadow: 10px;
    text-shadow: rgb(195, 70, 70);

}

input {
    width: 100%;
    padding: 5px 20px;
    margin: 18px 4px;
    box-sizing: border-box;
}

label {
    color: rgb(82, 150, 113);


}